/* 
    Document   : kris-css
    Created on : 19-Apr-2013, 10:31:06
    Author     : KnoHolEM
    Description:
        Purpose of the stylesheet follows.
*/

body{
	background-color:#102F5B;
	border-style: solid;
	border-width: 0px;
	align: center;
	padding: 0px 0px 0px 0px
}

#container{
	width: 1150px;
	height: 100%;
	margin: 0px auto;
	padding: 0px 10px 0px 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #0000FF;
	background-color:white;
	float: left;
}

#title{
	width: 960px;
	height: 80px;
	border-style: solid;
	border-width: 0px;
	background-color: white
}

#top-row{
        width: 100%;
	height: 100%;
        float: left;
        clear: both
}


/*Middle Row 
Contains left - WebGL/Image and right - information display*/

#mid-row{
        width: 100%;
	height: 100%;
        float: left;
        border-style:solid;
        border-right:thick #ff0000;
        border-left:thick #ff0000;
        border-top:thick #ff0000;
        clear: both
}

#image{

	width: 100%;
	height: 100%;
	float: left;
	padding-left: 0px;
	border-width: 0px
	
}

#mid-row-left{

	
	height: 100%;
	float: left;
	padding-left: 0px;
        padding-top: 0px;
	border-width: 0px;
	border-style: solid;
/*        border: 1px solid;*/
        clear: both
	
}
#glcanvas_div{
	width: 100%;
	height: 100%;	
}
#webgl-div-info{
    
	width: 200px;
	height: 100%;
	float: left;
	padding-left: 10px
	
}

#mid-row-right{
    	width: 200px;
	height: 100%;      
	float: left;
/*        border: 1px solid  */
}
#zone_viewer_div{
    width: 350px;
    height: 100%;      
    float: left;
    padding-left:20px;
    display:none;
    /*border: 1px solid;*/  
}

#zone_id_div{  
    width: 350px;
    float: left;
    padding-left:10px;
    /*border: 1px solid;*/
}
#zone_id_text_div{
    width: 80px;
    /*border: 1px solid;*/
    float: left;
}
#save_activity_id{  
    float: left;
}
zone_id_form{
    border: 1px solid;
    /*width: 300px;*/
}
#delete_activity_id{
    float: left;
}
#zone_x1_y1_z1{  
    float: left;
    padding-left:20px
}
#zone_x2_y2_z2{  
    float: left;
    padding-left:20px
}
#path_viewer_div{
    width: 300px;
    height: 100%;      
    float: left;
    padding-left:20px;
    
    display:none;
    /*border: 1px solid;*/  
}
#path_id_div{     
    float: left;
    padding-left:10px;
    /*padding-top:10px;*/
    /*border: 1px solid;*/
}
#path_id_text_div{ 
    float:left;
    width: 80px;
    /*border: 1px solid;*/
}
#path_activity_delete_button_div{
    float: right;
}
/*#path_table_div{
    margin-top: 70px;
    height: 230px;
    border: 3px solid;
}*/
#path_activity_type_div{  
    padding-top: 10px;
    width: 280px;
    float: left;
    padding-left:10px;
}
#activity_type_dropdown_id{
    float: right;
}
#path_activity_day_div{     
    float: left;
    padding-left:10px;
    /*border-style:solid;*/
}
#radio_activity_day_left{     
    float: left;
    /*height: 200px;*/
    /*border: 1px solid;*/
}
#radio_activity_day_right{     
    float: left;
    /*height: 200px;*/
    /*border: 1px solid;*/
}
#path_activity_button{     
    float: left;
    padding-left:10px;
    /*padding-top:10px;*/
/*    border: 1px solid;*/
}
#path_activity_e_a_div{

    width:300px;
    float:left;
}
#e_a_text_div{
    padding: 10px;
    width:120px;
    float:left;
    /*border: 1px solid;*/  
}
#entrance_path_zone_id{
    width:120px;
    /*float:left;*/
    /*border: 1px solid;*/
}
#exit_path_zone_id{
    padding-top:7px;
    width:120px;
    /*border: 1px solid;*/
    /*float:left;*/
}
#e_a_form_checks_div{
    padding-top: 10px;
    width:150px;
    float:right;
    /*border: 1px solid;*/   
}
#path_entrance_id_form{
    width:120px;
    /*float: right;*/
    /*border: 1px solid;*/
}
#activity_ea_checkbox_id_1{
    /*float: right;*/
    /*border: 1px solid;*/
}

#path_exit_id_form{
    width:120px;
    /*float: right;*/
    /*border: 1px solid;*/
}
#activity_ea_checkbox_id_2{
    /*float: right;*/
    /*border: 1px solid;*/
}
#path_activity_button_div{
    float: left;
    padding-top: 10px;
    /*border: 1px solid;*/
}
#webg-img-radio{
    float: left;
    padding-left:20px
}
#webg-size-radio{
    float: right;
    padding-left:20px;
    display:none
}

#activity_button_load{
    float: left
}
#activity_button_save{
    float:left;
    padding-left: 0px; 
}
/*Bottom Row */

#bottom-row{
        width: 100%;
	height: 100%;
        float: left;
/*        border: 1px solid;*/
        clear: both
}
#bottom-row-left{
        width: 250px;
	height: 100%;
        float: left;
/*        border: 1px solid*/
}
#user-info{

    padding-left: 10px;
    padding-bottom: 10px;
    border-style:solid;
    border-right: #ff0000;
    border-left: #ff0000;
    border-top: #ff0000;
    border-width:1px
    
}
#dropdown-date{

    padding-left: 10px;
    
}

#bottom-row-middle{
        width: 400px;
	height: 100%;
        float: left;
/*        border: 1px solid*/
}
#tabs{

	float: left;
        width: 500px;
	padding-left: 0px;
        padding-bottom: 0px;
	border-width: 0px;
        padding-top: 0px;
	border-style: solid;
/*        border: 1px solid;*/
	background-color:white
}

#tables{
    	width: 760px;
	height: 100%;
	float: left;
	padding-left: 0px;
	border-width: 0px;
        padding-top: 0px;
	border-style: solid;
        /*border: 1px solid;*/
	background-color:white
    
}

#buttons{
    height: 100%;
    width: 140px;
    padding-top: 250px;
    float:right;
/*	border-style: solid;*/
/*        border: 1px solid;*/
    background-color:white
    
}
#activity_button_load{
    clear: both
}
#activity_button_save{
    clear: both
}
#config-tags{
    width: 400px;
    float: left;
}
#config-content{
    padding-top: 30px;
    width: 300px;
    float: left;
}

#activity-console{
    visibility:hidden;
}
#gl_canvas{
    display:none
}

#activity-day-start-end-table{
/*    visibility:hidden;*/
    display:inline
}

#activity-lunch-table{
/*    visibility:hidden;*/
    display:none
}

#activity-breaks-table{
/*    visibility:hidden;*/
    display:none
}
.section {
    font-size: 60%;
}





















/*
zone form
*/
#zone_id_div{
    
    width:240px;
    
}
.coord{
    
    width:50px;   
    
}




/*root { 
    display: block;
}

.config-window ul {
	list-style: none;
	padding:0;
	margin:0;
        
}

.config-window li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}

.config-window li a {
	padding: 0 1em;
}

#content {
	border: 1px solid;
}

.config-window #selected {
	padding-bottom: 1px; 
	background: white;
}

.config-window li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

#content {
	border: 1px solid;
	clear: both;
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
} 

.config-window #selected {
	position: relative;
	top: 1px;
	background: white;
}*/